<form class="post-form" method="post" action="addpost">
    <div><input name="title" placeholder="Title" /></div>
    <div><textarea name="body" id="body" placeholder="Body"></textarea></div>
    <div class="submit"><input type="submit" value="Post"/></div>
</form>