<form class="login-form" method="post" action="login">
    <div><input name="user" placeholder="Name" autofocus="true" /></div>
    <div><input name="password" type="password" placeholder="Password" /></div>
    <div class="submit"><input type="submit" value="Login"/></div>
</form>